html {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
  background-repeat: no-repeat;
  font-family: 'Mukta', sans-serif;
  max-height: fit-content;
  color: red;
}

img {
  height: 200px;
  width: auto;
}

#main-page {
  display: flex;
  max-width: 100%;
  justify-items: center;
  align-items: center;
}

.left-side {
  display: flex;
}

.right-side {
  display: flex;
}

.name-title {
  padding: 50px;
  text-align: center;
}

.description1 {
  max-width: 50%;
}