html {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
  background-repeat: no-repeat;
  font-family: 'Mukta', sans-serif;
  max-height: fit-content;
  font-size: 18px;
}

img {
  width: 20rem;
  height: auto;
}

#main-page {
  display: flex;
  max-width: 100%;
  height: 80rem;
  align-items: center;
  justify-items: stretch;
}

.left-side {
  display: flex;
}

.name-title {
  padding: 50px;
  text-align: center;
  color: rgb(167, 167, 167);
}

.description1 {
  padding: 1.5rem 2.5rem;
  text-align: center;
}

.project1-title {
  text-align: center;
}

.project3-title {
  text-align: center;
}

.right-side {
  display: flex;
}

.description2 {
  padding: 1.5rem 2.5rem;
  text-align: center;
}

.pic-of-me {
  text-align: center;
}